<div class="header">
    <ul class="nav">
         <li><a href="/">Home</a></li>
        <li><a href="/login">Login</a></li>
        <% if (!user) { %>
        <li><a href="/register">Register</a></li>
        <% } %>
        <% if (user) { %>
            <li><a href="/log-out">Logout</a></li>
        <% } %>
    </ul>
</div>